*{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sql{
    color: green;
    text-align: center;
    font-size: 15px;

}
aside{
    background-color: blueviolet;
    opacity: 0.7;
    font-size: medium;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: cursive;
    color: red;
}
h1{
    color:wheat;
    font-size: 100px;
    opacity: 0.7;
    text-align: center;
    text-decoration: double;
}